[v-cloak] {
    display: none;
  }
  
  html, body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #d6f5f5;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  img {
    width: 100px;
    padding: 30px;
}

tr {
    border-bottom: 20px solid #d6f5f5;
}

th {
    background-color: #d6f5f5;
    text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

  .print-list-title {
    font-size: 50px;
    text-align: center;
    padding: 30px;
  }

  .print-container {
    text-align: center;
    margin: auto;
  }
  
  .list-head{
    font-size: 15px;
    text-transform: uppercase;
  }

  .even {
    background-color: #ecc6d9;
    color: #862d59;
  }
  
  .odd {
    background-color: #862d59;
    color: #ffffff;
  }

  .new-print-form fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .new-print-form div {
    margin: 10px 0;
    width: 120px;
  }

  .new-print-form div label {
    max-width: 120px;
  }

  .new-print-form input {
    max-width: 110px;
    display: block;
  }

  .new-print-form {
    margin: 75px;
  }