html {
    font-family: Arial, Helvetica, sans-serif
}

.cocktail-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cocktail {
    width: 300px;
    border: 5px solid rgb(132, 212, 212);
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0;
}

.cocktail img {
    width: 100%;
}

.cocktail h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

