[v-cloak] {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    margin: 50px;
    color: white;
    font-size: 20px;
    
}

a {
    color: white;
}

h2.active {
    color: lightcoral;
    font-size: 30px;
}