[v-cloak] {
    display: none;
  }

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

div {
    margin: 10px 0;
    display: flex;
}

div label {
    margin-right: 10px;
}

div input, div select {
    flex-grow: 1;
}

.orgInfo {
    padding: 20px;
    margin: 15px;
    background-color: rgb(179, 214, 214);
}

.contactInfo {
padding: 20px;
margin: 15px;
background-color: rgb(244, 189, 197);
}

.projectDetails {
    padding: 20px;
    margin: 15px;
    background-color: rgb(174, 186, 204);
}

.header-text {
    justify-content: center;
}

.header-text h1 {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 50px;
    padding: 30px;
}

.centered-button {
    justify-content: center;
}

.budget-text {
    font-size: 12px;
}

legend {
    font-family: 'Cabin Sketch', sans-serif;
    color: white;
}

#mycanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#requestForm {
    position: relative;
    z-index: 10;
}